<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Agregar actor' }) %>

    <body>
        <%- include('partials/header') %>

            <main>
                <div class="col-12 col-md-10 mx-auto mt-3">
                    <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/actors">Actores</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Agregar actor</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <form class="row g-3" action="/actors/create" method="POST">
                                <div class="mb-2 col-md-6">
                                    <label for="first_name" class="form-label">Nombre 🔅</label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" value="<%= locals.old && (old.first_name && old.first_name ) %>">
                                    <small class="text-danger">
                                        <%= locals.errors && (errors.first_name && errors.first_name.msg) %>
                                    </small>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <label for="last_name" class="form-label">Apellido 🔆</label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" value="<%= locals.old && (old.last_name && old.last_name ) %>">
                                    <small class="text-danger">
                                        <%= locals.errors && (errors.last_name && errors.last_name.msg) %>
                                    </small>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <label for="rating" class="form-label">Rating 📈</label>
                                    <input type="number" class="form-control" name="rating" id="rating">
                                    <small class="text-danger">
                                        <%= locals.errors && (errors.rating && errors.rating.msg) %>
                                    </small>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <label for="favorite_movie_id" class="form-label">ID de película favorita 🌟</label>
                                   <input type="number" class="form-control" name="favorite_movie_id" id="favorite_movie_id">
                                </div>

                                <div class="col-12 d-md-none">
                                    <button type="submit" class="btn btn-dark w-100">Agregar</button>
                                </div>
                                <div class="col-md-12 d-none d-md-flex justify-content-end">
                                    <button type="submit" class="btn btn-dark">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </body>

</html>