<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Listado de géneros' }) %>


    <body>
        <%- include('partials/header') %>

            <main>
                <div class="col-12 col-md-10 mx-auto mt-3">
                    <div class="card">
                        <div class="card-header">
                            <nav class="d-flex justify-content-between" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Géneros</li>
                                </ol>
                                <a href="/genres/add" class="btn btn-dark btn-sm">Agregar Género</a>
                            </nav>
                        </div>

                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="table-dark" scope="col">#</th>
                                        <th class="table-dark" scope="col">Nombre</th>
                                        <th class="table-dark d-none d-md-table-cell" scope="col">Ranking</th>
                                        <th class="table-dark d-none d-md-table-cell" scope="col">Active</th>
                                        <th class="table-dark" scope="col">Cantidad de Películas</th>
                                        <th class="table-dark" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% genres.forEach((genre)=> { %>
                                        <tr>
                                            <th scope="row">
                                                <%= genre.id %>
                                            </th>
                                            <td>
                                                <%= genre.name %>
                                            </td>
                                            <td class="d-none d-md-table-cell">
                                                <%= genre.ranking %>
                                            </td>
                                            <td class="d-none d-md-table-cell">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        <%=genre.active && "checked" %> >
                                                </div>
                                            </td>
                                            <td>
                                                <% if (genre.movies.length) { %>

                                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                                    <div class="accordion-item">
                                                      <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= genre.id %>" aria-expanded="false" aria-controls="flush-collapse<%= genre.id %>">
                                                            <span><%= genre.movies.length%> <%= genre.movies.length === 1 ? 'Película' : 'Películas' %></span>
                                                        </button>
                                                      </h2>
                                                      <div id="flush-collapse<%= genre.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <ul>
                                                                <% genre.movies.forEach(movie => { %>
                                                                 <li><a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a></li>
                                                                <% }) %>
                                                            </ul>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                    <% }else{ %>
                                                            <span class="ps-4 d-block fs-6">Sin Películas 🍿</span>
                                                    <% } %>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-1">
                                                    <a href="/genres/detail/<%= genre.id %>" class="btn btn-outline-dark btn-sm"><i
                                                            class="fas fa-eye"></i></a>
                                                    <a href="/genres/edit/<%= genre.id %>" class="btn btn-outline-dark btn-sm"><i
                                                            class="fas fa-edit"></i></a>
                                                    <a href="/genres/delete/<%= genre.id %>" class="btn btn-outline-dark btn-sm"><i
                                                            class="fas fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            
    </body>

</html>