<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Agregar género' }) %>

    <body>
        <%- include('partials/header') %>

            <main>
                <div class="col-12 col-md-10 mx-auto mt-3">
                    <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/genres">Géneros</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Agregar género</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <form class="row g-3" action="/genres/create" method="POST">
                                <div class="mb-2 col-md-6">
                                    <label for="name" class="form-label">Nombre 🎬</label>
                                    <input type="text" class="form-control" name="name" id="name" value="<%= locals.old && (old.name && old.name ) %>">
                                    <small class="text-danger">
                                        <%= locals.errors && (errors.name && errors.name.msg) %>
                                    </small>
                                </div>
                                <div class="mb-2 col-md-6">
                                    <label for="ranking" class="form-label">Ranking 📈</label>
                                    <input type="number" class="form-control" name="ranking" id="ranking">
                                    <small class="text-danger">
                                        <%= locals.errors && (errors.ranking && errors.ranking.msg) %>
                                    </small>
                                </div>
                                <div class="form-check form-switch mb-2 col-md-6">
                                    <label for="active" class="form-label">Active 🌟</label>
                                    <input type="hidden" name="notActive" value="0">
                                    <input class="form-check-input" type="checkbox" name="active" checked value="1">
                                </div>

                                <div class="col-12 d-md-none">
                                    <button type="submit" class="btn btn-dark w-100">Agregar</button>
                                </div>
                                <div class="col-md-12 d-none d-md-flex justify-content-end">
                                    <button type="submit" class="btn btn-dark">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
    </body>

</html>